/* You can add global styles to this file, and also import other style files */
mat-row:hover {
  background-color: #f5f5f5;
}

.selektovan-red {
  background-color: #e8eaf6 !important;
  font-weight: bold;
}
.custom-dialog {
  overflow: visible !important;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

