<div class="author-card">

    <h1>Autor projekta</h1>

<img src="slika.jpeg" alt="Autor" class="author-image">
    <h2>Milica Antić</h2>

    <p>
        Student Fakulteta tehničkih nauka
    </p>

    <hr>

    <div class="info">

        <p><strong>Predmet:</strong> Razvoj višeslojnih aplikacija</p>

        <p><strong>Godina:</strong> 2025/2026</p>

        <p><strong>Tehnologije:</strong></p>

        <ul>
            <li>Angular</li>
            <li>Spring Boot</li>
            <li>PostgreSQL</li>
            <li>TypeScript</li>
            <li>Java</li>
        </ul>

    </div>

</div>