<div class="home-container">
    <div class="hero">
        <h1>Frontend Bioskopa</h1>
        <p>Savremena web aplikacija za centralizovano upravljanje bioskopskim sistemima.</p>
        <p>Razvijeno uz pomoć Angulara, Spring Boota i PostgreSQL baze.</p>
    </div>

    <div class="dashboard">
        <button mat-raised-button color="primary" class="nav-card" routerLink="/bioskop">Bioskopi</button>
        <button mat-raised-button color="primary" class="nav-card" routerLink="/sala">Sale</button>
        <button mat-raised-button color="primary" class="nav-card" routerLink="/film">Filmovi</button>
        <button mat-raised-button color="primary" class="nav-card" routerLink="/rezervacija">Rezervacije</button>
    </div>
</div>