    <h1>Rezervacija</h1>

<div class="container mat-elevation-z8" style="padding: 15px;">
  
  <div style="margin-bottom: 15px;">
    <button class="krug-dugme" mat-raised-button color="primary" (click)="otvoriDialog(1)">
      <mat-icon>add</mat-icon></button>
  </div>
<mat-form-field>
  <input
    matInput
    #broj
    (keyup)="pretraziBrojOsoba(broj.value)"
    placeholder="Broj osoba veći od">
</mat-form-field>

<mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
      <mat-label>Pretraži po datumu</mat-label>
      <input 
        matInput 
        [matDatepicker]="pickerPretraga" 
        (dateChange)="pretraziDatumSaDatepickera($event.value)"
        placeholder="Izaberi datum">
      <mat-datepicker-toggle matIconSuffix [for]="pickerPretraga">
        <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerPretraga></mat-datepicker>
    </mat-form-field>

<mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
  <mat-label>Status plaćanja</mat-label>
  <mat-select (selectionChange)="pretraziPlaceno($event.value)" defaultValue="">
    <mat-option value="">Sve rezervacije</mat-option>
    <mat-option value="true">
      Plaćeno
    </mat-option>
    <mat-option value="false">
      Nije plaćeno
    </mat-option>
  </mat-select>
</mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort  #sortRezervacije="matSort"  style="width: 100%;">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="datum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum  </th>
      <td mat-cell *matCellDef="let element"> {{ formatirajDatum(element.datum) }} </td>
    </ng-container>

    <ng-container matColumnDef="brojOsoba">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj osoba </th>
      <td mat-cell *matCellDef="let element"> {{element.brojOsoba}} </td>
    </ng-container>

    <ng-container matColumnDef="cenaKarte" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena karte </th>
      <td mat-cell *matCellDef="let element"> {{element.cenaKarte}} RSD </td>
    </ng-container>

    <ng-container matColumnDef="placeno">
      <th mat-header-cell *matHeaderCellDef> Plaćeno </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.placeno" style="color: green; vertical-align: middle;">check_circle</mat-icon>
        <mat-icon *ngIf="!element.placeno" style="color: red; vertical-align: middle;">cancel</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="film">
      <th mat-header-cell *matHeaderCellDef> Film </th>
      <td mat-cell *matCellDef="let element"> {{element.film?.naziv}} </td>
    </ng-container>

    <ng-container matColumnDef="sala">
      <th mat-header-cell *matHeaderCellDef> Sala ID </th>
      <td mat-cell *matCellDef="let element"> {{element.sala?.id}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="$event.stopPropagation(); otvoriDialog(2, element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="$event.stopPropagation(); otvoriDialog(3, element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tabela-red"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>