    <h1>Sala</h1>

<div class="container mat-elevation-z8" style="padding: 15px; margin-bottom: 30px;">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
    <button class="krug-dugme" mat-raised-button color="primary" (click)="otvoriDialogSalu(1)">
      <mat-icon>add</mat-icon></button>
  </div>
    <div style="display: flex; gap: 15px; flex-wrap: wrap; margin-bottom: 20px;">

<mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
<input matInput #kapacitet type="number" min="1" max="9999"
       (keyup)="pretraziKapacitet(kapacitet.value)"
       placeholder="Kapacitet veći od">
</mat-form-field>

<mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
  <input matInput #redovi type="number" min="1" max="999"
       (keyup)="pretraziBrojRedova(redovi.value)"
       placeholder="Broj redova">
</mat-form-field>
    </div>
  <table mat-table [dataSource]="dataSource" matSort  #sortSale="matSort"  style="width: 100%;">
    <ng-container matColumnDef="id"><th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th><td mat-cell *matCellDef="let row"> {{row.id}} </td></ng-container>
    <ng-container matColumnDef="kapacitet"><th mat-header-cell *matHeaderCellDef mat-sort-header> Kapacitet </th><td mat-cell *matCellDef="let row"> {{row.kapacitet}} </td></ng-container>
    <ng-container matColumnDef="brojRedova"><th mat-header-cell *matHeaderCellDef mat-sort-header> Broj redova </th><td mat-cell *matCellDef="let row"> {{row.brojRedova}} </td></ng-container>
    <ng-container matColumnDef="bioskop"><th mat-header-cell *matHeaderCellDef> Bioskop </th><td mat-cell *matCellDef="let row"> {{row.bioskop?.naziv}} </td></ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef > Akcije </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="$event.stopPropagation(); otvoriDialogSalu(2, row)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="$event.stopPropagation(); otvoriDialogSalu(3, row)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
        (click)="izaberiSalu(row)"
        [ngClass]="{'selektovan-red': selektovanaSala?.id === row.id}"
        style="cursor: pointer;">
    </tr>
  </table>
  <mat-paginator #paginatorSale [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div *ngIf="selektovanaSala" class="container mat-elevation-z8" style="padding: 15px; background-color: #fafafa;">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
    <h1>Rezervacije za salu: {{selektovanaSala.id}}</h1>
    
    <div style="display: flex; gap: 10px;">
<button class="krug-dugme" mat-raised-button color="primary" (click)="otvoriDialogRezervaciju(1)">      <mat-icon>add</mat-icon>
    </button>
      <button mat-icon-button color="warn" (click)="selektovanaSala = null">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="dataSourceRezervacije.data.length === 0" style="padding: 20px; text-align: center; color: gray;">
    Nema registrovanih rezervacija za ovu salu.
  </div>
<ng-container *ngIf="dataSourceRezervacije.data.length > 0">

  <table mat-table [dataSource]="dataSourceRezervacije" matSort #sortRezervacije="matSort" style="width: 100%;">
    <ng-container matColumnDef="id"><th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th><td mat-cell *matCellDef="let rez"> {{rez.id}} </td></ng-container>
    <ng-container matColumnDef="datum"><th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th><td mat-cell *matCellDef="let rez"> {{formatirajDatum(rez.datum)}} </td></ng-container>
    <ng-container matColumnDef="brojOsoba"><th mat-header-cell *matHeaderCellDef mat-sort-header> Osoba </th><td mat-cell *matCellDef="let rez"> {{rez.brojOsoba}} </td></ng-container>
    <ng-container matColumnDef="cenaKarte"><th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th><td mat-cell *matCellDef="let rez"> {{rez.cenaKarte}} RSD </td></ng-container>
    <ng-container matColumnDef="film"><th mat-header-cell *matHeaderCellDef mat-sort-header> Film </th><td mat-cell *matCellDef="let rez"> {{rez.film?.naziv}} </td></ng-container>
    <ng-container matColumnDef="status"><th mat-header-cell *matHeaderCellDef> Plaćeno </th>
      <td mat-cell *matCellDef="let rez"> 
        <mat-icon [style.color]="rez.placeno ? 'green' : 'red'">{{rez.placeno ? 'check_circle' : 'cancel'}}</mat-icon> 
      </td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let rez">
        <button mat-icon-button color="accent" (click)="otvoriDialogRezervaciju(2, rez)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="otvoriDialogRezervaciju(3, rez)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="rezervacijeColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: rezervacijeColumns;"></tr>
  </table>
  </ng-container>
  <mat-paginator #paginatorRez [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>