.container {
    margin: 20px;
    overflow-x: auto;
    border-radius: 4px;
}

table {
    width: 100%;
}
.mat-mdc-header-row {
  background-color: rgb(239, 229, 255);
}

.mat-mdc-header-cell {
  font-weight: bold;
}
tr.mat-mdc-row:hover {
  background-color: #e3f2fd;
  transition: background-color 0.2s ease;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}
