<div style="display: flex; align-items: center; gap: 15px; margin-bottom: 15px;">
  <h1 style="margin: 0;">Film</h1>

  <button class="krug-dugme" (click)="otvoriDialog(1)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="container mat-elevation-z8" style="padding: 15px;">


  <div style="display: flex; gap: 15px; flex-wrap: wrap; margin-bottom: 20px;">

    <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
      <mat-label>Pretraži naziv</mat-label>
      <input matInput [(ngModel)]="nazivFilter"  maxlength="100" (keyup)="pretraziNaziv()" placeholder="Unesi naziv...">
    </mat-form-field>


    <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
      <mat-label>Pretraži žanr</mat-label>
      <input matInput [(ngModel)]="zanrFilter"  maxlength="50" (keyup)="pretraziZanr()" placeholder="Unesi žanr...">
    </mat-form-field>


    <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
      <mat-label>Recenzija veća od (1-10): </mat-label>
      <input matInput [(ngModel)]="recenzijaFilter" type="number" min="1" max="10" (keyup)="pretraziRecenziju()"
        placeholder="Unesi recenziju...">
    </mat-form-field>
  </div>
  <div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort #sortFilm="matSort" style="width: 100%;">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv filma </th>
      <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
    </ng-container>

    <ng-container matColumnDef="zanr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Žanr </th>
      <td mat-cell *matCellDef="let element"> {{element.zanr}} </td>
    </ng-container>

    <ng-container matColumnDef="trajanje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trajanje (min) </th>
      <td mat-cell *matCellDef="let element"> {{element.trajanje}} </td>
    </ng-container>

    <ng-container matColumnDef="recenzija">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Recenzija </th>
      <td mat-cell *matCellDef="let element"> {{element.recenzija}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="$event.stopPropagation(); otvoriDialog(2, element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="$event.stopPropagation(); otvoriDialog(3, element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tabela-red"></tr>
  </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>