<div style="display: flex; align-items: center; gap: 15px; margin-bottom: 15px;">
  <h1 style="margin: 0;">Bioskop</h1>

  <button class="krug-dugme" (click)="otvoriDialog(1)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="container mat-elevation-z8" style="padding: 15px; margin-bottom: 30px;">



  <div style="display: flex; gap: 15px; flex-wrap: wrap; margin-bottom: 20px;">

    <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
      <mat-label>Pretraži naziv</mat-label>
      <input matInput [(ngModel)]="nazivFilter" maxlength="100" (keyup)="pretraziNaziv()" placeholder="Unesi naziv...">
    </mat-form-field>

    <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
      <mat-label>Pretraži adresu</mat-label>
      <input matInput [(ngModel)]="adresaFilter"  maxlength="200" (keyup)="pretraziAdresu()" placeholder="Unesi adresu...">
    </mat-form-field>

  </div>

  <table mat-table [dataSource]="dataSource" matSort #sortBioskop="matSort" style="width: 100%;">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let r"> {{r.id}} </td>
    </ng-container>
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
      <td mat-cell *matCellDef="let r"> {{r.naziv}} </td>
    </ng-container>
    <ng-container matColumnDef="adresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresa </th>
      <td mat-cell *matCellDef="let r"> {{r.adresa}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let r">
        <button mat-icon-button color="accent"
          (click)="$event.stopPropagation(); otvoriDialog(2, r)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"
          (click)="$event.stopPropagation(); otvoriDialog(3, r)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="izaberiBioskop(row)"
      [ngClass]="{'selektovan-red': selektovaniBioskop?.id === row.id}" style="cursor: pointer;"></tr>
  </table>
  <mat-paginator #paginatorBioskop [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div *ngIf="selektovaniBioskop" class="container mat-elevation-z8" style="padding: 15px; background-color: #fafafa;">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">

  <div style="display: flex; align-items: center; gap: 10px;">
    <h1 style="margin: 0;">Sale za: {{selektovaniBioskop.naziv}}</h1>

    <button class="krug-dugme" (click)="otvoriDialogSalu(1)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <button mat-icon-button color="warn" (click)="selektovaniBioskop = null">
    <mat-icon>close</mat-icon>
  </button>

</div>

  <table mat-table [dataSource]="dataSourceSale" matSort #sortSale="matSort" style="width: 100%;">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let s"> {{s.id}} </td>
    </ng-container>
    <ng-container matColumnDef="kapacitet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kapacitet </th>
      <td mat-cell *matCellDef="let s"> {{s.kapacitet}} </td>
    </ng-container>
    <ng-container matColumnDef="brojRedova">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Redovi </th>
      <td mat-cell *matCellDef="let s"> {{s.brojRedova}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let s">
        <button mat-icon-button color="accent" (click)="otvoriDialogSalu(2, s)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="otvoriDialogSalu(3, s)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="saleColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: saleColumns;"></tr>
  </table>
  <mat-paginator #paginatorSale [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>